In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdadeadesdasesda'))
s

0     a
1     s
2     d
3     a
4     d
5     e
6     a
7     d
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [4]:
s.unique() #mostra apenas uma vez (sem ser o duplicado)

array(['a', 's', 'd', 'e'], dtype=object)

In [7]:
s.value_counts() # quantas vezes apareceu

a    5
d    5
s    4
e    3
dtype: int64

In [14]:
dados = pd.read_csv('../data/aluguel_residencial.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento

In [15]:
dados.Tipo.unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',
       'Casa de Vila'], dtype=object)

In [17]:
dados.Tipo.value_counts()

Apartamento           18780
Casa de Condomínio      996
Casa                    965
Quitinete               836
Casa de Vila            249
Name: Tipo, dtype: int64

In [18]:
dados['Tipo'].value_counts()

Apartamento           18780
Casa de Condomínio      996
Casa                    965
Quitinete               836
Casa de Vila            249
Name: Tipo, dtype: int64