In [1]:
import pandas as pd

In [3]:
'l1 l2 l3 l4'.split() # cria uma lista

['l1', 'l2', 'l3', 'l4']

In [2]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [4]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [5]:
df['c1'] # consultando uma coluna como uma Series

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [7]:
type(df['c1'])

pandas.core.series.Series

In [6]:
df[['c1','c3']] #passar mais de uma coluna

    c1  c3
l1   1   3
l2   5   7
l3   8  11
l4  13  15

In [9]:
type(df[['c1','c3']])

pandas.core.frame.DataFrame

In [10]:
df[:] # todas as linhas

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [11]:
df[1:] # apartir da linha 1 ate a ultima

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [15]:
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [17]:
df[1:][['c1','c3']] # Selecionar linha e coluna

    c1  c3
l2   5   7
l3   8  11
l4  13  15

In [18]:
df.loc['l3'] # com o loc, pode-se utilizar parametros "stings" para buscar uma determinada linha

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [19]:
df.loc[['l3','l1']] #selecionando mais de uma linha

    c1  c2  c3  c4
l3   8  10  11  12
l1   1   2   3   4

In [20]:
df.loc['l1','c2']

2

In [21]:
df.iloc[0,1] # Iloc utiliza os indices

2

In [22]:
df.loc[['l3','l1'],['c4','c1']]

    c4  c1
l3  12   8
l1   4   1

In [24]:
df.iloc[[2,0],[3,0]]

    c4  c1
l3  12   8
l1   4   1